@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;700&display=swap');

.nav-item img{
    width: 60px;
    height: 60px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #0065c3;
    padding: 10px;
    color: white;
}

.nav-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.nav-item{
    margin-left: 20px;
    cursor: pointer;
}

.nav-item:hover{
    color: #f0f0f0;
}

.nav-right .nav-item{
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 25px;
    transition: all 0.2s ease-in-out;
}

.product{
    display: flex;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(1, 1, 95), rgb(51, 142, 253) );
}


.product-item img{
    margin-top: 30px;
    margin-left: 210px;
    width: 69%;
    height: 500px;
   
}

.product-launch{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39%;
    height: 300px;
    background-color: transparent;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-launch .part{
    max-width: 100%;
    margin-left: 120px;
    text-align: center;
}


.product-launch ul{
    list-style: none;
}

.product-launch .part li:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.product-launch .part li:nth-child(2){
    color: rgb(230, 109, 34);
    font-size: 100px;
    font-weight: 800;
}

.product-launch .part li:nth-child(3){
    font-size: 70px;
    color: #fff;
    margin-bottom: 15px;
}

.product-launch .part li:nth-child(4){
    color: #fff;
    font-size: 24px;
    font-weight: 650;
    margin: 5px;
}


.product-launch .part li:nth-child(5){
    color: #fff;
    font-size: 24px;
    font-weight: 650;
}

.product-launch button{
    border: 2px solid #fff;
    border-radius: 30px; 
    margin-top: 30px;
    margin-left: 60px;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.product-launch button:hover,.nav-right .nav-item:hover{
    color: #0065c3;
    background-color: #f0f0f0;
}
.nav-right .nav-item:hover{
    font-weight: 600;
}
