.lists{
    margin-bottom: 100px;
    margin-top: -17px;
    background-color: rgb(15, 15, 15);
    width: 450px;
    padding-top: 10px;
    position: fixed;
    left: 14px;
    bottom: 0;
    top: 320px;
    overflow: auto;
}

.lists::-webkit-scrollbar{
    width: 10px;
}

.lists::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.lists:hover::-webkit-scrollbar-thumb{
    background-color: rgba(211, 211, 211, 0.534);
}

.lists:hover{
    overflow-y: scroll;
}

.liked-songs,
.playlist-1,
.playlist-2,
.playlist-3,
.playlist-4,
.playlist-5,
.playlist-6,
.playlist-7,
.playlist-8,
.artist-1,
.artist-2,
.artist-3,
.artist-4,
.artist-5,
.artist-6,
.artist-7{
    display: flex;
    margin-top: 18px;
    margin-left: 11px;
}

.liked-songs img, 
.playlist-1 img, 
.playlist-2 img,
.playlist-3 img,
.playlist-4 img,
.playlist-5 img,
.playlist-6 img,
.playlist-7 img,
.playlist-8 img{
    border-radius: 10px;
    margin-right: 15px;
    height: 55px;
    margin-left: 8px;
}

.liked-songs i{
    margin-right: 5px;
}

.liked-songs span, 
.playlist-1 span,
.playlist-2 span,
.playlist-3 span,
.playlist-4 span,
.playlist-5 span,
.playlist-6 span,
.playlist-7 span,
.playlist-8 span,
.artist-1 span,
.artist-2 span,
.artist-3 span,
.artist-4 span,
.artist-5 span,
.artist-6 span,
.artist-7 span{
    color: #c6c3c3;
    font-size: 14px;
}

.artist-1 img,
.artist-2 img,
.artist-3 img,
.artist-4 img,
.artist-5 img,
.artist-6 img,
.artist-7 img{
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
